
# Created by https://www.gitignore.io/api/netbeans

### NetBeans ###
nbproject/private/
nbproject/project.properties
nbproject/project.xml
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# End of https://www.gitignore.io/api/netbeans

